
body { min-height: 100vh; 
  background-color: black; 
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
}

/* || Imports */

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Berkshire+Swash&family=Caveat:wght@700&family=La+Belle+Aurore&family=Libre+Baskerville:ital@1&family=Nanum+Myeongjo&family=Sono:wght@500&family=Special+Elite&display=swap');  /*font-family: 'Averia Serif Libre', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Caveat', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Special Elite', cursive;
font-family: 'Sono', sans-serif;
   */

  
.drag-div{
background-color: transparent;
}

.dnd-letters{
  display: inline-block;
  text-align: center;
  background-color: rgb(223, 218, 219);
  border: 10px solid rgb(176, 83, 83);
  border-style: ridge;
  min-width: 4vw;
  max-width: 4vw;
  min-height: 4.5vh;
  font-size: 30px;
}

.drop-div{
  border: 15px solid rgb(46, 11, 11);
  border-style: ridge;
  width: 50vw;
  min-height: 16vh;
  margin: auto;
  background-color: rgb(95, 67, 72);
  /* top: 60%;
  left: 50%;
  /* border: 3px solid rgb(250, 12, 52); */
  /* transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999; */ 
}

.main-img{
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}

.npc4-container{
  height: 100vh;
  background-color: pink;
}


.npc-exit{
  z-index: 9999;
  top: 10;
  position:fixed;
  display:flex;
  margin-left: 10px; 
  border: 6px solid rgb(169, 15, 15);
  border-style: ridge;
}

/* … */

/* .game-nav{ */
  /* z-index: 9999;
  top: 0;
  background-color: white;
  text-align: center;
  font-size: 18px; */
  /* z-index: 1000;
  font-family: 'Nanum Myeongjo', serif;
  background-color:#490707; */
  /* position:fixed;   */
  /* z-index:1; */
  /* width:100%;
  max-height:50px;
  text-align:center;
  vertical-align:middle; */
  /* line-height:50px; */
  /* top:0px;
  border: 15px solid rgb(82, 30, 30);
  border-style: ridge;
  display:flex; */
/* } */

.back-button{
  z-index: 9999;
  top: 10;
  position:fixed;
  display:flex;
  margin-left: 10px;
}
.back{
  font-size: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.822);
  border: none;
}
.back:hover{
  cursor: pointer;
}
.back:active{
  margin-left: -3px;
}

.ll1{
  background-color: transparent;
  top: 68%;
  left: 40%;
  /* border: 3px solid rgb(250, 12, 52); */
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:7vh;
  width: 4vw;
}
.ll1:hover{
  cursor: url(https://cur.cursors-4u.net/symbols/sym-2/sym164.cur), auto !important;
}
.ll2:hover{
  cursor: url(https://cur.cursors-4u.net/symbols/sym-2/sym164.cur), auto !important;
}
.ll3:hover{
  cursor:pointer;
}
.ll2{
  background-color: transparent;
  top: 32%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:9vh;
}
.ll3{
  background-color: transparent;
  top: 38%;
  left: 24%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: 1px solid rgb(255, 0, 68);
  height:4vh;
}

.clue-click-div{
  background-color:#ac92985f;
  border: 20px solid rgb(104, 104, 115);
  border-style:ridge;
  min-height: 70vh;
  /* max-width: 50vw; */
  max-height: 70vh;
  min-width: 50vw;
  margin:auto;
  margin-top: 7vh;
}

.riddle{
  font-family: 'Nanum Myeongjo', serif;
  font-size:30px;
  /* padding-top: 60px; */
  padding: 185px 0;
  text-align: center;
}

.poem{
  height: 470px;
}

.poem-clue-container{
  text-align: center;
  margin:auto;
  margin-top: 3vh;
  min-height: 64vh;
  max-width: 90%;
  background-color: rgba(218, 218, 216, 0.792);
}

.photograph{
  max-width: 100%;
}

.key{
  max-width: 100%;
}

.key:hover{
  cursor: url(https://cur.cursors-4u.net/games/gam-2/gam134.cur), auto !important;
}

.flip-btn{
    font-size: 30px;
    background-color: rgb(182, 182, 182);
    float: right;
    border: 5px solid rgb(186, 190, 166);
    border-radius: 5px;
    margin: 5px;
}

.clue-container{
  text-align: center;
  margin:auto;
  margin-top: 3vh;
  min-height: 64vh;
  max-width: 90%;
  background-color: rgba(243, 221, 225, 0.251);
}

.clue-container-sp{
  text-align: center;
  margin:auto;
  margin-top: 3vh;
  min-height: 64vh;
  min-width: 100%;
  background-color:  rgb(37, 34, 32);
}
.dnd-click-div{
  background-color:#0000005f;
  border: 20px solid rgb(104, 104, 115);
  border-style:ridge;
  min-height: 70vh;
  max-width: 66vw;
  max-height: 70vh;
  min-width: 50vw;
  margin:auto;
  text-align: center;
  margin-top: 7vh;
}
.dnd-background{
  text-align: center;
  margin:auto;
  min-height: 64vh;
  min-width:100%;
  /* max-width: 70vw; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.393), rgba(0, 0, 0, 0.89)), url(https://media.istockphoto.com/id/830999014/vector/chess-knight-icon-on-black-and-white-vector-backgrounds.jpg?s=612x612&w=0&k=20&c=QQD1j1IIzS5-AJ5mjPlC3iJq4HXL006lxp28uCCfGl0=);
  background-size: contain;
  background-repeat:no-repeat;
  /* background-blend-mode: saturation; */
}

.dnd-solved{
  text-align: center;
  background-color: rgb(255, 233, 30);
  float: left;
  border: 10px solid rgb(53, 12, 23);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
}

.clue-back-btn{
  background-color: white;
  float: left;
  border: 10px solid rgb(53, 12, 23);
  top: 15%;
  left: 8%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
}

.buttons{
  background-color: #ab969e;
  border-radius: 2px;
  border: none;
  font-family: 'Averia Serif Libre', cursive;
  font-weight: bold;
  padding: 4px;
  margin: 3px;
  /* align-self: center; */
}
.buttons:hover{
  background-color: #a57487;
  cursor: pointer;
}

.buttons:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}

.backroom-btn{
  font-family: 'Sono', sans-serif;
  background-color: rgba(255, 255, 255, 0.639);
  border: 10px solid rgb(53, 12, 23);
  top: 15%;
  left: 88%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
}

.backroom-clue-btn{
  background-color: transparent;
  top: 45%;
  left: 58%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:10vh;
  width: 5vw;
}

.backroom-clue-btn:hover{
  cursor: url(https://cur.cursors-4u.net/symbols/sym-2/sym164.cur), auto !important;
}

.grab-note{
  background-color: transparent;
  top: 40%;
  left: 42%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:9vh;
  width: 9vw;
}

.grab-note:hover{
  cursor:help;
}

.blackout{
  background-image: url();
}

.library-left-container{
  display: flex;
  min-width:100vw;
  max-width: 100vw;
  min-height: 90vh;
  max-height: 90vh;
  overflow: hidden;
  background-color: #1a0505;
  text-align: center;
}

/* LIB RIGHT */
.lr1{
  background-color: transparent;
  top: 82%;
  left: 78%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:15vh;
  width: 5vw;
}
.lr1:hover{
  cursor:pointer;
}
.lr2:hover{
  cursor:pointer;
}
.lr3:hover{
  cursor:pointer;
}
.lr2{
  background-color: transparent;
  top: 63%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:12vh;
  width: 5vw;
}
.lr3{
  background-color: transparent;
  top: 30%;
  left: 24%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: 1px solid rgb(255, 0, 68);
  height:10vh;
}



/* 
LIB FORWARD */


.lf1{
  background-color: transparent;
  top: 75%;
  left: 43%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:17vh;
  width: 7vw;
}
.lf1:hover{
  color: white;
  font-size: 70px;
  cursor:help;
}
.lf2:hover{
    cursor: url(https://cur.cursors-4u.net/symbols/sym-2/sym164.cur), auto !important;
}
.lf3:hover{
    cursor: url(https://cur.cursors-4u.net/symbols/sym-2/sym164.cur), auto !important;
}
.lf2{
  background-color: transparent;
  top: 79%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:17vh;
  width: 12vw;
}
.lf3{
  background-color: transparent;
  top: 58%;
  left: 63%;
  width: 4vw;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: transparent;
  height:6vh;
}


.npcol{
  /* margin:auto; */
  /* padding: 50px; */
  max-width:100%;
  /* z-index: 2000; */
  /* width: 3vw; */
}

/* || Notifications */

.notification-banner{
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.612);
  top: 15%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: 10px solid rgba(255, 255, 255, 0.594);
  border-style:groove;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  min-width: 15vw;
}

.notif-btn{
  background-color: rgba(255, 255, 255, 0.491);
  border: transparent;
  float: right;
  margin: 3px;
}




/* … */

/* …FIRST CLUE */

.sticky-note{
width: 7vw;
height: 10vh;
top: 55%;
left: 66%;
transform: translate(-50%, -50%);
text-align: center;
position: absolute;
z-index: 1000;
}
.sticky-note:hover{
  cursor: pointer;
}

.first-clue{
  text-align: center;
  height:100vh;
  max-width: 70%;
  margin:auto;
  background-color: #dbcb64;
  padding: 15px;
}

.s1{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 25px;
}

.gameplay-container{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.start{
  background-color: #7d4c55d3;
  border: 10px solid rgb(148, 86, 86);
  border-style: ridge;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px; 
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; 
}
.start:hover{
cursor: pointer;
}
.start:active{
    font-weight: bold;
}


/* … */




.journal-container{
  margin: auto;
  /* margin-top: 2px; */
  font-family: 'Caveat', cursive;
  font-size: 22px;
  height: 100vh;
  width: 100vw;
  /* max-width:100%;
  min-width: 100vw; */
  /* white-space: none; */
  
  
}

.journal-clue{
  max-width: 35vw;
}

.journal-clues-left{
  padding: 50px;
  /* border: 2px solid black; */
  width: 40vw;
  height: 80vh;
  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  overflow: auto;
}

.journal-clues-right{
  padding: 50px;
  /* border: 2px solid black; */
  width: 40vw;
  height: 80vh;
  top: 60%;
  left: 77%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  overflow: auto;
}

.doodle{
  padding: 20px;
  top: 20%;
  left: 3%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 2000;
  width: 3vw;
}

.pen{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: center;
  position: absolute;
  z-index: 2000;
  max-width: 60vw;
  max-height: 23vh;
  filter: drop-shadow(-5px 7px 3px #000000) brightness(75%);
}

.todo-doodle{
  /* font-weight: lighter; --didnt work */
  padding: 20px;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%) rotate(-5deg);
  position: absolute;
  z-index: 2000;
  min-width: 13vw;
}


.journal-left{
  display: inline-block;
  background-image: linear-gradient(80deg, rgb(247, 215, 168) , rgb(216, 176, 115), rgb(128, 103, 67), rgb(41, 36, 19));
  height: 100%;
  width: 50%;
}

.journal-right{
  display: inline-block;
  /* float:right; */
  background-image: linear-gradient(90deg,rgb(41, 36, 19), rgb(128, 103, 67), rgb(216, 176, 115), rgb(233, 209, 173));
  height: 100%;
  width: 50%;
}


/* || Sign up and Login */

.signin-container{
  text-shadow: 2px 2px #000000;
  font-family: 'Nanum Myeongjo', serif;
  color:rgb(128, 103, 67);
  background-color: rgb(65, 24, 24);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  border: 14px solid rgb(156, 130, 130);
  border-style:ridge;
  width:25vw;
  }
  
  .signup-form{
    /* min-width: 100%; */
    /* justify-content: center; */
    /* text-align: center; */
    /* width: 25vw; */
    /* background-color: rgb(65, 24, 24); */
    /* margin: auto; */
    /* padding: 10px;
   
    width: 100%; */
  }
  
  .signup-input{
    font-family: 'Special Elite', cursive;
    color: rgb(0, 0, 0);
    /* background-color: grey; */
    margin:1vh;
    width: 20vw;
    /* width: 100%;  */
    padding: 3px;
    font-size: 15px;
  }

  .are-you-sure-container{
    background-color: rgb(0, 0, 0);
    height:100vh;
    width:100%;
  }

  .logout-box{
    font-weight: bolder;
    background-color: rgba(107, 96, 96, 0.938);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    border: 14px solid rgb(156, 130, 130);
    border-style:ridge;
    padding: 15px;
  }

/* … */

/* || Header and Main Navigation */

.site-main {
  /* margin: auto;
  background-color: rgba(255, 194, 245, 0.297);
  background-size: fill;
  width: 100%;
  height: 90vh; 
  background-image: url("https://media.istockphoto.com/id/1151358348/photo/bright-purple-leaves-top-view-minimalistic-background.jpg?b=1&s=170667a&w=0&k=20&c=T6FazTAXDnouaDtEGxHt25WvwqyMFSHQOAiXP2iuH6c="); */
  /* min-width: 100%;
  height: 90vh; */
}

.main-blur{
  height: 90vh;
  top: 55%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
  /* background-color: rgba(131, 65, 27, 0.148); */
  width: 53vw;
  text-align: center;
  backdrop-filter: blur(4px);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.089), rgba(131, 65, 27, 0.148));
}

.welcome-text{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2000;
  /* background-color: rgba(131, 65, 27, 0.148); */
  width: 55vw;
  text-align: center;
  filter: drop-shadow(8px 6px 3px #9c6d25);
}

.welcome-title{
  backdrop-filter: blur(4px);
  padding: 10px;
  width: 45vw;
  /* filter: invert(75%); */
}

.play{
  margin-top: 3vh;
  padding: 30px;
  top: 59%;
  left: 56%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 2000;
  width: 13vw;
  filter: drop-shadow(5px 3px 2px #690969);
  background-color: rgb(255, 255, 255);
  /* backdrop-filter: blur(4px); */
  border-radius: 15px;
  width: 7vw;
}

.welcome-box{
  top: 60%;
  left: 38%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  /* background-color: #494b427d; */
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  /* min-height: 5vh; */
  width: 20vw;

  -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.welcome-box:hover{
  cursor: pointer;

  -webkit-transform: scale(1);
	transform: scale(1);
}

.welcome-border{
  width: 100%;
  border: 20px solid rgb(82, 30, 30);
  border-style: ridge;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background-img{
  min-width: 100%;
  filter: brightness(50%);
}

.game-nav{
  /* z-index: 9999;
  top: 0;
  background-color: white;
  text-align: center;
  font-size: 18px; */
  z-index: 1000;
  font-family: 'Nanum Myeongjo', serif;
  background-color:#490707;
  /* position:fixed;   */
  /* z-index:1; */
  width:100%;
  max-height:50px;
  text-align:center;
  vertical-align:middle;
  /* line-height:50px; */
  top:0px;
  border: 15px solid rgb(82, 30, 30);
  border-style: ridge;
  display:flex;
}

.game-nav-link {
  max-height: 100%;
  display:flex;
  background-color: #481a1a;
  border: 10px solid rgb(82, 30, 30);
  border-style: ridge;
  text-shadow: 2px 2px #000000;
  color:rgb(144, 127, 127);
  text-decoration: none;
  margin: auto;
}

.game-nav a:hover{
  border: 10px solid rgb(65, 18, 18);
  background-color: #321515;
  border-style: ridge;
  color: rgba(127, 90, 90, 0.587);
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.game-nav a:active{
  border: 10px solid rgb(65, 18, 18);
  background-color: #321515;
  border-style: ridge;
  color: rgba(127, 90, 90, 0.587);
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.npc1{
  width:900px;
  margin: auto;
}



.edit-form-container{
  /* text-align: center;
  background-color: rgba(128, 128, 128, 0.42);
  border: 10px solid rgb(114, 77, 83);
  border-style: ridge;
  padding: 10px;
  height: 40vh;
  margin: auto; */
}

/* … */

/* ||Game Navigation */

/* .game-nav{
  background-color: white;
} */

.npc-name-box{
  min-width: 13vw;
  height: 4vh;
  top: 75.5%;
  left: 24%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  border: 3px solid #4b270854;
  border-radius: 5px;
  background-color: rgba(239, 229, 221, 0.733);
  backdrop-filter: blur(2px);
  white-space: nowrap;
}

.npc-name{
  padding-top: 5px;
  font-family: 'Sono', sans-serif;
  margin: auto;
}

.dialogue-box{
  width: 43vw;
  min-height: 10vh;
  top: 85%;
  left: 39%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  border: 10px solid #821a1a;
  border-style: ridge;
  background-color: rgba(220, 182, 182, 0.553);
  backdrop-filter: blur(2px);
  
}
/* font-family: 'Berkshire Swash', cursive;
font-family: 'Caveat', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Special Elite', cursive;
font-family: 'Sono', sans-serif; */
.dialogue{
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
}

.npc-info-box{
  width: vw;
  height: 10vh;
  top: 19%;
  left: 23%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.library-card{
  padding: 10px;
  max-width: 10vw;
  height: 25vh;
  border: 6px solid #e5d4d4;
  border-radius: 15%;
  border-style: inset;
  background-color: rgb(220, 182, 182);
  /* white-space: nowrap;  */
}

.card-logo{
  font-family: 'Berkshire Swash', cursive;
  font-size: 18px;
}

/* … */

.alert{
  background-color: pink;
  font-size: 30px;
  min-width: 100%;
}
/* || Views */

.box{
  width: 20vw;
  height: 30vh;
  top: 60%;
  left: 73%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  /* border: 3px solid pink; */
}

.box:hover{
  cursor: pointer;
}

.home-container{
  /* margin-top: 20px; */
  /* height: 90vh;
  width: 80vw; */
  display: flex;
  min-width:100vw;
  max-width: 100vw;
  min-height: 90vh;
  max-height: 90vh;
  /* overflow: scroll; */
  background-color: #1a0505;
  text-align: center;
  /* white-space: nowrap; */
}

.home-view{
  margin: auto;
  max-width: 100%;
}

.lib-nav-left{
  margin-top: 200px;
  filter:brightness(65%);
  /* top: 500%; */
  left: 23%;
  transform: translate(-50%, -50%) rotate(180deg);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 10vw;
}

.point-left{

  margin-left: 30px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  z-index: 1000;
}

.point-left:hover{
	margin-left: 0;
}

.lib-nav-for{
  filter:brightness(85%);
  top: 66%;
  left: 50.5%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 7vw;
}

.lib-nav-for:hover{
  top: 64%;
  left: 50.5%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 7vw;
}

.lib-nav-right{
  margin-top: 200px;
  filter:brightness(65%);
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 10vw;
}

.point-right{

  margin-right: 30px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  z-index: 1000;
}

.point-right:hover{
	margin-right: 0;
}

.lib-container{
  /* margin-top: 20px; */
  /* height: 90vh;
  width: 80vw; */
  display: flex;
  min-width:100vw;
  max-width: 100vw;
  min-height: 90vh;
  max-height: 90vh;
  overflow: hidden;
  background-color: #1a0505;
  text-align: center;
  /* white-space: nowrap; */
}

.library-view{
  /* filter:brightness(75%); */
  margin: auto;
  width: 60%;
  /* border: 10px solid rgb(52, 45, 45);
  border-style: ridge; */
}

/* … */



/* || Computer */

/* Why when I put 100% for height it doesnt do it? Shouldnt it go to the parent (body) */
.monitor-container {
background-color: rgb(219, 219, 223);
/* height: 100vh; */
/* max-width: 98vw; */
}

.software-name{
background-color: rgba(82, 28, 99, 0.523);
text-align: center;
}

.monitor-toolbar {
background-color: white;
/* text-align: center; */
}

.toolbar-buttons{
/* background-color: rgb(219, 227, 219); */
margin-left: 20px;
margin-right: 20px;
margin-top: 3px;
margin-bottom: 3px;
border: 2px solid black;
box-shadow: 4px 4px;
}

.toolbar-buttons:hover{
  cursor: pointer;
}

.database-container{
/* background-color: darkkhaki; */
}

.db-toolbar{
  /* background-color:skyblue; */
  display: grid;
  grid-template-columns: 8vw 2vw 10vw 80vw;
  grid-template-rows: 3vh;
  overflow:hidden;

}

.db-search{
  grid-column: 1;
  grid-row: 1;
}

/* .search-btn{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  min-width:2vw;
  max-width:2vw;
} */

.db-filter{
 grid-column: 3;
}

.book-header{
  width:100%;
  display: grid;
  grid-template-columns: 3vw 30vw 20vw 13vw 14vw;
  grid-template-rows: 100vh;
  overflow: hidden;
  text-align: center;
}

.book-attr-label{
  border: 1px solid black;
}

.db-content-container{
  /* display: grid; 2 boxes, left to display book img and right book list */
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
  overflow:hidden;
}

.single-book-click{
  padding: 10px;
  padding-top: 10vh;
  grid-column: 1;
  grid-row: 1;
  overflow: scroll;
  /* background-color:rgb(110, 110, 140); */
  /* min-width: 100%;
  max-width: 100%; */
}

.globe{
  max-width: 100%;
  margin: auto;
  padding: auto;
}

.book-img{
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.db-col-2{
  /* grid-column: 2;
  grid-row: 1; */
  min-width:100%;
  background-color: rgb(248, 248, 248);
  overflow: scroll;
}


.db-booklist{
  /* display: grid; Columns for book attributes */
  width:100%;
  display: grid;
  grid-template-columns: 3vw 30vw 20vw 13vw 14vw;
  /* grid-template-rows: 100vh; */
  overflow: hidden;
}

.dbc-1{
 border: 1px solid black;
}
.dbc-2{
  border: 1px solid black;
}
.dbc-3{
  border: 1px solid black;
}
.dbc-4{
  border: 1px solid black;
}
.dbc-5{
  border: 1px solid black;
}

.help-container{
  background-color: white;
  height: 100vh;
}

/* Members tab */

.members-container{
  background-color: white;
  height: 100vh;
  overflow: scroll;
  
  /* padding: 10px; */
}

.members-header{
  background-color: #690969;
  /* min-height: 20vh; */
  display: flex;
  flex-wrap: nowrap;
  /* align-items: center; */
}

.member-search{
  float: bottom;
  height: 20%;
  /* display: inline-block; */
}

.search-member{
  height: 20%;
}

.new-member-form{
  /* max-width: 50%; */
  background-color: pink;

  /* display: inline-block; */
  /* float:right; */
}

.members-list{
  /* display: grid; Columns for book attributes */
  width:100%;
  display: grid;
  grid-template-columns:25vw 25vw 43vw 7vw;
  /* grid-template-rows: 100vh; */
  background-color: rgba(128, 128, 128, 0.169);
}

.ml{
  border: 1px solid rgba(0, 0, 0, 0.443);
}


/* Members tab */

.settings-container{
  background-color: white;
  height: 100vh;
  text-align: center;
}

/* … */
.search-btn{
  max-width: 4vw;
}

.book-search-input{
  width: 15vw;
  line-height: 1.40;
}

/* Background image css example from Seunggyu -->> */
/* background-image: url('https://www.pngmart.com/files/3/Rick-And-Morty-PNG-Photos.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; */