
body { min-height: 100vh; 
  background-color: black; 
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
}

/* || Imports */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat:wght@700&family=La+Belle+Aurore&family=Nanum+Myeongjo&display=swap');
  /* font-family: 'Berkshire Swash', cursive;
font-family: 'Caveat', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Nanum Myeongjo', serif;
   */


/* … */

/* || Notifications */

.notification-banner{
  background-color: white;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  border: 3px solid rgb(255, 0, 68);
}

/* … */

.journal-container{
  margin: auto;
  /* margin-top: 2px; */
  font-family: 'Caveat', cursive;
  font-size: 22px;
  height: 100vh;
  width: 100vw;
  /* max-width:100%;
  min-width: 100vw; */
  /* white-space: none; */
  
  
}

.journal-clue{
  max-width: 35vw;
}

.journal-clues-left{
  
}

.journal-clues-right{
  padding: 50px;
  /* border: 2px solid black; */
  width: 40vw;
  height: 80vh;
  top: 60%;
  left: 77%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 9999;
  overflow: auto;
}

.doodle{
  padding: 20px;
  top: 20%;
  left: 3%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 2000;
  width: 3vw;
}

.pen{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: center;
  position: absolute;
  z-index: 2000;
  max-width: 60vw;
  max-height: 23vh;
  filter: drop-shadow(-5px 7px 3px #000000) brightness(75%);
}

.todo-doodle{
  /* font-weight: lighter; --didnt work */
  padding: 20px;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%) rotate(-5deg);
  position: absolute;
  z-index: 2000;
  min-width: 13vw;
}


.journal-left{
  display: inline-block;
  background-image: linear-gradient(80deg, rgb(247, 215, 168) , rgb(216, 176, 115), rgb(128, 103, 67), rgb(41, 36, 19));
  height: 100%;
  width: 50%;
}

.journal-right{
  display: inline-block;
  /* float:right; */
  background-image: linear-gradient(90deg,rgb(41, 36, 19), rgb(128, 103, 67), rgb(216, 176, 115), rgb(233, 209, 173));
  height: 100%;
  width: 50%;
}


/* || Sign up and Login */

.signin-container{
  background-color: rgb(168, 168, 224);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  border: 14px solid rgb(156, 130, 130);
  border-style:ridge;
  }
  
  .signup-form{
    width: 25vw;
    background-color: white;
    margin: auto;
    padding: 10px;
  }

  .signup-input{
    width: 100%; 
    padding: 3px;
  }

  .are-you-sure-container{
    background-color: rgb(0, 0, 0);
    height:100vh;
    width:100%;
  }

  .logout-box{
    font-weight: bolder;
    background-color: rgba(107, 96, 96, 0.938);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    border: 14px solid rgb(156, 130, 130);
    border-style:ridge;
    padding: 15px;
  }

/* … */

/* || Header and Main Navigation */

.site-main {
  background-size: stretch;
  min-width: 100%;
  max-height: 90vh;
  /* background-image: url("/mainsite.jpg") */
}

.main-blur{
  height: 90vh;
  top: 55%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
  /* background-color: rgba(131, 65, 27, 0.148); */
  width: 53vw;
  text-align: center;
  backdrop-filter: blur(4px);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.089), rgba(131, 65, 27, 0.148));
}

.welcome-text{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2000;
  /* background-color: rgba(131, 65, 27, 0.148); */
  width: 55vw;
  text-align: center;
  filter: drop-shadow(8px 6px 3px #9c6d25);
}

.welcome-title{
  backdrop-filter: blur(4px);
  padding: 10px;
  width: 45vw;
  /* filter: invert(75%); */
}

.play{
  margin-top: 3vh;
  padding: 30px;
  top: 59%;
  left: 56%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 2000;
  width: 13vw;
  filter: drop-shadow(5px 3px 2px #690969);
  /* background-color: rgba(255, 255, 255, 0.053); */
  /* backdrop-filter: blur(4px); */
  /* border-radius: 5px; */
  width: 7vw;
}

.welcome-box{
  top: 60%;
  left: 38%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  /* background-color: #494b427d; */
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  /* min-height: 5vh; */
  width: 20vw;

  -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.welcome-box:hover{
  cursor: pointer;

  -webkit-transform: scale(1);
	transform: scale(1);
}

.welcome-border{
  width: 100%;
  border: 20px solid rgb(82, 30, 30);
  border-style: ridge;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background-img{
  min-width: 100%;
  filter: brightness(50%);
}

.game-nav{
  /* z-index: 9999;
  top: 0;
  background-color: white;
  text-align: center;
  font-size: 18px; */
  z-index: 1000;
  font-family: 'Nanum Myeongjo', serif;
  background-color:#490707;
  /* position:fixed;   */
  /* z-index:1; */
  width:100%;
  max-height:50px;
  text-align:center;
  vertical-align:middle;
  /* line-height:50px; */
  top:0px;
  border: 15px solid rgb(82, 30, 30);
  border-style: ridge;
  display:flex;
}

.game-nav-link {
  max-height: 100%;
  display:flex;
  background-color: #481a1a;
  border: 10px solid rgb(82, 30, 30);
  border-style: ridge;
  text-shadow: 2px 2px #000000;
  color:rgb(144, 127, 127);
  text-decoration: none;
  margin: auto;
}

.game-nav a:hover{
  border: 10px solid rgb(65, 18, 18);
  background-color: #321515;
  border-style: ridge;
  color: rgba(127, 90, 90, 0.587);
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.game-nav a:active{
  border: 10px solid rgb(65, 18, 18);
  background-color: #321515;
  border-style: ridge;
  color: rgba(127, 90, 90, 0.587);
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

/* … */

/* ||Game Navigation */

/* .game-nav{
  background-color: white;
} */


/* … */


/* || Views */

.box{
  min-width: 150px;
  height: 80px;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.box:hover{
  cursor: pointer;
}

.home-container{
  /* margin-top: 20px; */
  /* height: 90vh;
  width: 80vw; */
  display: flex;
  min-width:100vw;
  max-width: 100vw;
  min-height: 90vh;
  max-height: 90vh;
  /* overflow: scroll; */
  background-color: #1a0505;
  text-align: center;
  /* white-space: nowrap; */
}

.home-view{
  margin: auto;
  max-width: 100%;
}

.lib-nav-left{
  margin-top: 200px;
  filter:brightness(35%);
  /* top: 500%; */
  left: 23%;
  transform: translate(-50%, -50%) rotate(180deg);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 10vw;
}

.point-left{

  margin-left: 30px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  z-index: 1000;
}

.point-left:hover{
	margin-left: 0;
}

.lib-nav-for{
  filter:brightness(35%);
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 7vw;
}

.lib-nav-for:hover{
  filter:brightness(35%);
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 7vw;
}

.lib-nav-right{
  margin-top: 200px;
  filter:brightness(35%);
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 10vw;
}

.point-right{

  margin-right: 30px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; 
  z-index: 1000;
}

.point-right:hover{
	margin-right: 0;
}

.lib-container{
  /* margin-top: 20px; */
  /* height: 90vh;
  width: 80vw; */
  display: flex;
  min-width:100vw;
  max-width: 100vw;
  min-height: 90vh;
  max-height: 90vh;
  overflow: hidden;
  background-color: #1a0505;
  text-align: center;
  /* white-space: nowrap; */
}

.library-view{
  filter:brightness(75%);
  margin: auto;
  width: 60%;
  border: 10px solid rgb(52, 45, 45);
  border-style: ridge;
}

/* … */



/* || Computer */

/* Why when I put 100% for height it doesnt do it? Shouldnt it go to the parent (body) */
.monitor-container {
background-color: rgb(219, 219, 223);
/* height: 100vh; */
/* max-width: 98vw; */
}

.software-name{
background-color: rgba(82, 28, 99, 0.523);
text-align: center;
}

.monitor-toolbar {
background-color: white;
/* text-align: center; */
}

.toolbar-buttons{
/* background-color: rgb(219, 227, 219); */
margin-left: 20px;
margin-right: 20px;
margin-top: 3px;
margin-bottom: 3px;
border: 2px solid black;
box-shadow: 4px 4px;
}

.toolbar-buttons:hover{
  cursor: pointer;
}

.database-container{
/* background-color: darkkhaki; */
}

.db-toolbar{
  /* background-color:skyblue; */
  display: grid;
  grid-template-columns: 8vw 2vw 10vw 80vw;
  grid-template-rows: 3vh;
  overflow:hidden;

}

.db-search{
  grid-column: 1;
  grid-row: 1;
}

.search-btn{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  min-width:2vw;
  max-width:2vw;
}

.db-filter{
 grid-column: 3;
}

.book-header{
  width:100%;
  display: grid;
  grid-template-columns: 3vw 30vw 20vw 13vw 14vw;
  grid-template-rows: 100vh;
  overflow: hidden;
  text-align: center;
}

.book-attr-label{
  border: 1px solid black;
}

.db-content-container{
  /* display: grid; 2 boxes, left to display book img and right book list */
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
  overflow:hidden;
}

.single-book-click{
  padding: 10px;
  padding-top: 10vh;
  grid-column: 1;
  grid-row: 1;
  overflow: scroll;
  /* background-color:rgb(110, 110, 140); */
  /* min-width: 100%;
  max-width: 100%; */
}



.book-img{
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.db-col-2{
  /* grid-column: 2;
  grid-row: 1; */
  min-width:100%;
  background-color: rgb(248, 248, 248);
  overflow: scroll;
}


.db-booklist{
  /* display: grid; Columns for book attributes */
  width:100%;
  display: grid;
  grid-template-columns: 3vw 30vw 20vw 13vw 14vw;
  /* grid-template-rows: 100vh; */
  overflow: hidden;
}

.dbc-1{
 border: 1px solid black;
}
.dbc-2{
  border: 1px solid black;
}
.dbc-3{
  border: 1px solid black;
}
.dbc-4{
  border: 1px solid black;
}
.dbc-5{
  border: 1px solid black;
}

.help-container{
  background-color: white;
  height: 100vh;
}

.members-container{
  background-color: white;
  height: 100vh;
}

.settings-container{
  background-color: white;
  height: 100vh;
}

/* … */


/* Background image css example from Seunggyu -->> */
/* background-image: url('https://www.pngmart.com/files/3/Rick-And-Morty-PNG-Photos.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; */